body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

section {
    height: 100%;
    perspective: 800px;
    background-image: linear-gradient(to top, #0f0209, #23061d, #330531, #3e024b, #41056a, #520578, #640385, #770092, #9b0089, #b8007e, #ce1173, #e03168);
}

.sun-img {
    height: 375px;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-lines {
    background-size: 50px 50px;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.25) 2.5px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 2.5px, transparent 1px);
    height: 85%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(50%) rotateX(85deg);
    transform-origin: top center;
    animation: 5s linear infinite crawlingWall;
    background-position-y: top;
}

@keyframes crawlingWall {
    to {
        background-position-y: bottom;
    }
}


.etoilefond {
    background-image: url("../img/stars.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 58vh;
    position: absolute;
    top: 0;
    left: 0;
    animation: tourne 15s ease-in-out infinite;
    z-index: 0;
}

@keyframes tourne {

    0%,
    100% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.4;
    }
}


.opacite {
    width: 100vw;
    height: 43vh;
    background: linear-gradient(to bottom, rgba(65, 5, 106, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.route {
    background-color: rgba(0, 0, 0, 0.5);
    height: 43vh;
    width: 70vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(37% 0, 63% 0, 100% 100%, 0 100%);

    &>div:first-child {
        background-color: rgb(255, 255, 255);
        height: 43vh;
        width: 70vw;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        clip-path: polygon(39% 0, 40% 0, 11% 100%, 5% 100%);
    }

    &>div:last-child {
        background-color: white;
        height: 43vh;
        width: 70vw;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        clip-path: polygon(60% 0, 61% 0, 95% 100%, 89% 100%);
    }
}



.perso {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 20px;
    transform: translateX(-50%);
    background-image: url("../img/GAME_JAM_-_PERSONNAGE_MOTO.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}